* {
    overflow: auto;
}

body {
    background-color: #8BA1BB;
    font-family: "Arial";
}

.centre {
    text-align: center;
    width: 100%;
}

p.presentation {
    background-color: black;
    color: white;
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 25px;
    font-weight: bold;
}

.contenue {
    background-color: white;
    margin: 40px 8px 40px 8px;
    margin-top: -22px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.separateur {
    height: 1px;
    width: 200px;
    background-color: black;
    margin: auto;
}

.explication {
    display: inline-block;
    text-align: center;
    width: 100%;
}

p.explication {
    max-width: 500px;
}

.info {
    position: relative;
}

img {
    display: block;
}

.info table {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #6C829DC0;
    color: white;
    height: 50px;
}

.info table th {
    font-size: 16px;
    vertical-align: bottom;
}

.info table td {
    text-align: center;
    vertical-align: top;
    font-size: 14px;
}

.colonne1 {
    display: inline-block;
}

div.colonne {
    width: 100%;
    margin-top: 20px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 10px solid #6C829D;
}

div.ingrediants {
    text-align: center;
}

div.ingrediants p {
    border: 1px solid #8BA1BB;
    padding: 20px;
    margin: 5px;
    font-weight: bold;
}

table.tableau p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    font-weight: bold;
    padding-top: 4px;
    margin: 0;
}

table.tableau p.preparation {
    padding-left: 10px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .contenue {
        margin: 60px 10% 80px 10%;
        margin-top: -22px;
        padding: 30px;
        min-width: 350px;
    }

    .info table {
        height: 80px;
    }

    .info table td {
        font-size: 16px;
    }

    .info table th {
        font-size: 18px;
    }

    .colonne1 {
        margin-right: 10%;
    }
    
    div.colonne {
        width: 45%;
        margin-top: 20px;
    }
    
    .colonne2 {
        float: right;
    }
}

@media only screen and (min-width: 900px) {
    .contenue {
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}